{% extends 'secure.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Authentification{% endblock %}

{% block body %}
    <div class="row ">
        <div class="col-xl-5">
            <img class="bg-img-cover bg-center" src="{{ asset('resources/images/register2.jpg') }}"
                 alt="Create Account">
        </div>
        <div class="col-xl-7 p-0">
            <div class="login-card">

                <form class="theme-form login-form" action="{{ path('fos_user_registration_register') }}" method="post">

                    <div class="text-center">
                        <a href="{{ path('home') }}">
                            <img  src="{{ asset('resources/logo/Logo-Mamias-web.png') }}"
                                 alt="MAMIAS 3.0">
                        </a>
                    </div>
                    <hr>
                    <h4>Create your account</h4>
                    <h6>Enter your personal details to create account</h6>

                    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

                    {{ form_errors(form) }}

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <label>{{ form_label(form.username) }}</label>
                        <div class="small-group">
                            <div class="input-group"><span class="input-group-text"><i class="icon-user"></i></span>
                                <input type="text" id="fos_user_registration_form_username"
                                       name="fos_user_registration_form[username]" required="required"
                                       class="form-control">


                            </div>
                            <!--<div class="input-group"><span class="input-group-text"><i class="icon-user"></i></span>
                                <input class="form-control" type="email" required="" placeholder="Last Name">
                            </div>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ form_label(form.email) }}</label>
                        <div class="input-group"><span class="input-group-text"><i class="icon-email"></i></span>
                            <input type="email" id="fos_user_registration_form_email"
                                   name="fos_user_registration_form[email]" required="required" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ form_label(form.plainPassword.first) }}</label>
                        <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
                            <input type="password" id="fos_user_registration_form_plainPassword_first"
                                   name="fos_user_registration_form[plainPassword][first]" required="required"
                                   class="form-control">
                            <div class="show-hide"><span class="show">                         </span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ form_label(form.plainPassword.second) }}</label>
                        <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
                            <input type="password" id="fos_user_registration_form_plainPassword_second"
                                   name="fos_user_registration_form[plainPassword][second]" required="required"
                                   class="form-control">
                            <div class="show-hide"><span class="show">                         </span></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{ form_label(form.country) }}</label>
                        <div class="input-group">
                            <!--<div><span class="input-group-text"><i class="icofont icofont-world"></i></span></div>-->
                            {{ form_widget(form.country, {'attr': {'placeholder': '', 'class':'form-control select2' }}) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <input type="checkbox" id="fos_user_registration_form_agreeTerms"
                                   name="fos_user_registration_form[agreeTerms]" required="required"
                                   class="form-check-input" value="1">
                            <label class="text-muted" for="fos_user_registration_form_agreeTerms">Agree with <span>Privacy Policy </span></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Create Account</button>
                    </div>
                    <!--<div class="login-social-title">
                        <h5>Sign in with</h5>
                    </div>
                    <div class="form-group">
                        <ul class="login-social">
                            <li><a href="https://www.linkedin.com/login" target="_blank"><i data-feather="linkedin"></i></a></li>
                            <li><a href="https://www.linkedin.com/login" target="_blank"><i data-feather="twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/login" target="_blank"><i data-feather="facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/login" target="_blank"><i data-feather="instagram">                  </i></a></li>
                        </ul>
                    </div>-->

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('sonata_user_admin_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <p>Already have an account?<a class="ms-2"
                                                      href="{{ path('sonata_user_admin_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        </p>

                    {% endif %}


                </form>
                <div class="row m-t-20">
                    <div class="col-sm-12 text-center">


                    </div>
                </div>

            </div>
        </div>
    </div>







{% endblock %}

{% block javascripts %}
    <!-- Plugins JS start-->
    <script src="{{ asset('assets/secure/js/select2.full.min.js') }}"></script>
    <script>
        var resizefunc = [];

        jQuery(document).ready(function () {

            $("#fos_user_registration_form_country").select2({
                width: "50%",
            });


            /*----------------------------------------
            passward show hide
            ----------------------------------------*/
            $('.show-hide').show();
            $('.show-hide span').addClass('show');

            $('.show-hide span').click(function () {
                if ($(this).hasClass('show')) {
                    $('input[name="login[password]"]').attr('type', 'text');
                    $(this).removeClass('show');
                } else {
                    $('input[name="login[password]"]').attr('type', 'password');
                    $(this).addClass('show');
                }
            });
            $('form button[type="submit"]').on('click', function () {
                $('.show-hide span').addClass('show');
                $('.show-hide').parent().find('input[name="login[password]"]').attr('type', 'password');
            });


        });
    </script>

{% endblock %}
